<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
    <head th:replace="fragments/head :: head"></head>
    
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container mt-5 main">
            <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <h1>Listado de Empleados</h1>
            <hr class="mb-4"/>
            <div th:if="${empleados.isEmpty()}">
             <h5>Todavía no hay empleados cargados. <a th:href="@{/empleado/crear}">Cargar Empleado.</a></h5> 
            </div>

            <div class="row" th:unless="${empleados.isEmpty()}">
                <div class="col-3" th:each="empleado : ${empleados}">
                    <div class="card mb-4 shadow">
                        
                        <div class="card-footer">
                            <div th:text="|Nombre: ${empleado.nombre}|">Nombre</div>
                            <div th:text="|Apellido: ${empleado.apellido}|">Apellido</div>
                            <div th:text="|Usuario: ${empleado.usuario}|">Usuario</div>
                            <div th:text="|Rol: ${empleado.rol}|">Alta</div>
                            <div class="d-flex justify-content-start my-2">
                                <a class="btn btn-warning btn-sm me-2" th:href="@{/empleado/editar/__${empleado.id}__}">Editar</a>
                                <form th:action="${empleado.alta} ? @{/empleado/eliminar/__${empleado.id}__} : @{/empleado/habilitar/__${empleado.id}__}"
                                      method="POST">
                                    <button th:class="${empleado.alta} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                                            type="submit" th:text="${empleado.alta} ? 'Eliminar' : 'Habilitar'">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>

        <!-- JS -->
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>
</html>
