<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body class="fondo-index">
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container mt-5 main">
            <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <h1 th:text="${title}"></h1>
            <hr class="mb-4 col-xl-12"/>

            <form class="mb-4" th:action="@{/empleado/__${action}__}" method="POST" th:object="${empleado}" >

                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}" type="text" required/>
                    <label for="nombre">Nombre</label>
                    <div class="error text-start" th:if="${#fields.hasErrors('nombre')}"
                         th:errors="*{nombre}"></div>
                </div>

                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="apellido" placeholder="Apellido" th:field="*{apellido}"
                           type="text" required/>
                    <label for="apellido">Apellido</label>
                    <div class="error text-start" th:if="${#fields.hasErrors('apellido')}"
                         th:errors="*{apellido}"></div>
                </div>

                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="usuario" placeholder="Usuario" th:field="*{usuario}"
                           type="text" required/>
                    <label for="usuario">Usuario</label>
                    <div class="error text-start" th:if="${#fields.hasErrors('usuario')}"
                         th:errors="*{usuario}"></div>
                </div>

                <div class="form-floating mb-3 col-xl-6">
                    <input class="form-control" id="clave" placeholder="Clave" th:field="*{clave}"
                           type="password"/>
                    <label for="clave">Clave</label>
                    <div class="error text-start" th:if="${#fields.hasErrors('clave')}"
                         th:errors="*{clave}"></div>
                </div>

                <div sec:authorize="hasRole('ADMIN')" class="form-floating mb-3 col-xl-6">
                    <select class="form-select" th:field="*{rol}" id="rol" aria-describedby="rol" required>
                        <option value="">Elegir ROL</option>
                        <option th:if="${action == 'guardar'}" th:each=" rol : ${T(egg.GestionVideojuegos.enums.Rol).values()}" th:text="${rol}" th:value="${rol}"></option>
                        <option th:if="${action == 'modificar'}" th:each=" rol : ${T(egg.GestionVideojuegos.enums.Rol).values()}" th:text="${rol}" th:value="${rol}" th:selected="${rol==empleado.id}"></option>
                    </select>
                    <label for="rol">Rol</label>
                </div>

                <input th:if="${action == 'modificar'}" type="hidden" th:name="id" th:field="*{id}">

                <button class="btn btn-primary" th:text="${action == 'guardar'} ? 'Crear empleado' : 'Guardar cambios'" type="submit"></button>
            </form>
        </div>



        <footer th:replace="fragments/footer :: footer"></footer>        
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>

    <script>
        (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
        form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
        })
        })()

        var y = new Date().getFullYear();
        document.getElementById('anio').innerHTML = y
    </script>
</html>
