<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body>
        <!-- navbar -->
        <header th:replace="fragments/navbar :: navbar"></header>
        <div class="d-flex vh-100" style="background: linear-gradient(135deg,#ff0000 0%, #2b00ff 100%);">
            <div class="container text-center" style="margin-top: 10%;">
                <h1 class="display-4 text-white">UPSSSS!</h1>
                <br /><br />
                <h2 class="display-6 text-white">
                    <span>Error </span><span th:text="${codigo}">404</span> (<span th:text="${tipo}">Blah blah</span>)
                </h2>
                <br />
                <a class="btn btn-warning" href="/">Volver</a>
            </div>
        </div>

        <!-- footer -->
        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>
</html>
