<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    <body class="fondo-index">
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container mt-5 main">
            <div class="row my-auto g-4 justify-content-evenly">
                <div sec:authorize="hasAnyRole('ADMIN')" class="card col-lg-5 p-0 clickable-card">
                    <a class="text-decoration-none" th:href="@{/empleado}">
                        <div class="row g-0">
                            <div class="col-md-4 index-empleados"></div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">EMPLEADOS</h5>
                                    <p class="card-text">Acceda a la página de empleados</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="card col-lg-5 p-0 clickable-card">
                    <a class="text-decoration-none" th:href="@{/cliente}">
                        <div class="row g-0">
                            <div class="col-md-4 index-clientes"></div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">CLIENTES</h5>
                                    <p class="card-text">Acceda a la página de clientes</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="card col-lg-5 p-0 clickable-card">
                    <a class="text-decoration-none" th:href="@{/videojuego}">
                        <div class="row g-0">
                            <div class="col-md-4 index-videojuego"></div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">VIDEOJUEGOS</h5>
                                    <p class="card-text">Acceda a la página de videojuegos</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>
</html>
