<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css" />
</head>

<body>
    <div class="body-login">


        <div class="registration-form">
            <form>
                <div class="form-group">
                    <h1>iniciar sesion</h1>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control item" id="username" placeholder="usuario">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control item" id="Number" placeholder="contraseña">
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-block create-account">ingresar</button>
                </div>
            </form>
        </div>


    </div>

</body>

</html>