<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>

    <body class="img-body">
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="body-login">

            <div class="registration-form container">


                <form th:action="@{/logincheck}" method="post" class="needs-validation" novalidate>
                    <div class="form-group form-title">
                        <h1>iniciar sesion</h1>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Ingresar usuario" required>
                        <div class="valid-feedback"></div> 
                        <div class="invalid-feedback">Ingresar usuario valido</div>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" name="clave" id="clave" placeholder="Ingresar clave" required>
                        <div class="valid-feedback"></div> 
                        <div class="invalid-feedback">Ingresar clave valida</div>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-block create-account">Ingresar</button>
                    </div>
                </form>
            </div>

        </div> 

        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>

        <!-- JS -->
        <script>
            (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
            .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
            })
            })()
        </script>

    </body>

</html>