<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>
    
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container mt-5 main">
            <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
            <div class="alert alert-danger col-xl-6" th:if="${error}" th:text="${error}"></div>
            <h1>Ranking</h1>
            <hr class="mb-4"/>
            <div th:if="${videojuegos.isEmpty()}">
                <h5>Todavía no hay videojuegos jugados. <a th:href="@{/videojuego/jugar}">Jugar videojuego.</a></h5> 
            </div>

            <div class="row" th:unless="${videojuegos.isEmpty()}">
                <div class="col-7" th:each="videojuego, iterador : ${videojuegos}">
                    <div class="card mb-6" style="max-width: 800px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="rounded-circle"
                                     th:src="${videojuego.image != null} ? @{/uploads/__${videojuego.image}__} : @{/uploads/foto-no-disponible.png}"
                                     width="165">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body ranking">
                                    <img class="medal" th:if="${iterador.index} == 0" th:src="@{/img/medal-solid-gold.png}" />
                                    <img class="medal" th:if="${iterador.index} == 1" th:src="@{/img/medal-solid-silver.png}" />
                                    <img class="medal" th:if="${iterador.index} == 2" th:src="@{/img/medal-solid-bronze.png}" />
                                    <h3  class="posicion" th:unless="${iterador.index + 1 < 4}" th:text="${iterador.index + 1} + ${'°'}">Posicion</h3>
                                    <h5 class="fw-bold nombre-juego" th:text="|${videojuego.nombre}|">Nombre</h5>
                                    <p class="precio" th:text="|$${videojuego.precioFicha}|">Precio</p>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>
</html>
