<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="assets/bootstrap.min.css">
    <link rel="stylesheet" href="css/style2.css" />
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <title>Sign Up</title>
</head>

<body class="img-body">
    
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class="container">
                <a class="navbar-brand" th:href="@{/login}"><img th:src="@{/img/joystick.png}" width="45" /></a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                    class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse"
                    type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="text-end">
                    <a class="btn btn-light me-1" th:href="@{/login}">Ingresar</a> 
                    <a class="btn btn-warning" th:href="@{/signup}">Registrarse</a> 
                </div>
            </div>
        </nav> 
        
    <div class="body-login">

        <div class="registration-form container">
            
            <div th:if="${error}" class="container text-center">
                <div class="row">
                    <div th:text="${error}" class="alert alert-danger mb-5 shadow"></div>
                </div>
            </div>
            <div th:if="${logout}" class="container text-center">
                <div class="row">
                    <div th:text="${logout}" class="alert alert-success alert-dismissible fade show mb-5 shadow"></div>
                </div>
            </div>
            <form class="mb-3" th:action="@{/registro}" th:object="${empleado}" method="POST" autocomplete="off">
                <div class="form-group form-title">
                    <h1>Registrarse</h1>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Ingresar nombre" required>
                    <div class="valid-feedback"></div> 
                    <div class="invalid-feedback">Ingresar nombre valido</div>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="apellido" id="apellido" placeholder="Ingresar apellido" required>
                    <div class="valid-feedback"></div> 
                    <div class="invalid-feedback">Ingresar apellido valido</div>
                </div>
                <br>
                <div class="form-group">
                    <input type="text" class="form-control" name="usuario" id="usuario" placeholder="Ingresar usuario" required>
                    <div class="valid-feedback"></div> 
                    <div class="invalid-feedback">Ingresar usuario valido</div>
                </div>
                <br>
                <input type="hidden" th:field="*{rol}">
                <div class="form-group">
                    <input type="password" class="form-control" name="clave" id="clave" placeholder="Ingresar clave" required>
                    <div class="valid-feedback"></div> 
                    <div class="invalid-feedback">Ingresar clave valida</div>
                </div>

                <div class="form-group text-center">
                    <button type="submit" class="btn btn-block create-account">Registrar</button>
                </div>
            </form>
        </div>

   
    </div>   
    
</div> 
    
    <footer th:replace="fragments/footer :: footer"></footer>
    
    <!-- JS -->
    <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    <script>
        (function () {
        'use strict'
    
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')
    
        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }
    
            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script>

</body>

</html>