<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"></html>
    <head th:replace="fragments/head :: head"></head>
    
    <body>
        <nav th:replace="fragments/navbar :: navbar"></nav>

        <div class="container mt-5 main">
            <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
            <div class="alert alert-danger col-xl-6" th:if="${error}" th:text="${error}"></div>
            <h1>Listado de Videojuegos</h1>
            <hr class="mb-4"/>
            <div th:if="${videojuegos.isEmpty()}">
             <h5>Todavía no hay videojuegos cargados. <a th:href="@{/videojuego/crear}">Crear videojuego.</a></h5> 
            </div>

            <a th:href="@{/videojuego/crear}" th:unless="${videojuegos.isEmpty()}" class="btn btn-success mb-4">Ingresar Videojuego</a>
            <div class="row" th:unless="${videojuegos.isEmpty()}">
                <div class="col-3" th:each="videojuego : ${videojuegos}">
                    <div class="card mb-4 shadow">
                        <div class="card-body text-center p-0">
                            <img 
                                 th:src="${videojuego.image != null} ? @{/uploads/__${videojuego.image}__} : @{/uploads/foto-no-disponible.png}"
                                 width="100%">
                        </div>
                        <div class="card-footer">
                            <div th:text="|Nombre: ${videojuego.nombre}|">Nombre</div>
                            <div th:text="|Precio ${videojuego.precioFicha}|">Precio</div>
                            <div th:text="|Alta ${videojuego.alta}|">Fecha</div>
                            <div class="d-flex justify-content-start my-2">
                                <a class="btn btn-warning btn-sm me-2" th:href="@{/videojuego/editar/__${videojuego.id}__}">Editar</a>
                                <form th:action="${videojuego.alta} ? @{/videojuego/eliminar/__${videojuego.id}__} : @{/videojuego/habilitar/__${videojuego.id}__}"
                                      method="POST">
                                    <button th:class="${videojuego.alta} ? 'btn btn-danger btn-sm' : 'btn btn-primary btn-sm'"
                                            type="submit" th:text="${videojuego.alta} ? 'Eliminar' : 'Habilitar'">
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>
</html>