<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="fragments/head :: head"></head>

    <body class="fondo-videojuegos">
        <nav th:replace="fragments/navbar :: navbar"></nav>
        <div class="container mt-5 main">
            <div class="alert alert-success" th:if="${exito}" th:text="${exito}"></div>
            <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
            <h1 th:text="${title}"></h1>
            
            <div class="registration-form">
                <form class="mb-4" th:action="@{/videojuego/__${action}__}" th:object="${videojuego}" method="POST" enctype="multipart/form-data" autocomplete="off">
                    <div class="form-group">
                        <h1>Ingrese Juego</h1>
                    </div>

                    <input th:field="*{id}" type="hidden"/>
                    <input th:field="*{recaudacion}" type="hidden"/>
                    
                    <div class="form-group">
                        <input class="form-control item" id="nombre" placeholder="Nombre del videojuego" th:field="*{nombre}" type="text" required/>
                        <div class="error text-start" th:if="${#fields.hasErrors('nombre')}"
                             th:errors="*{nombre}"></div>
                    </div>

                    <div class="form-group">
                        <input type="number" min="1" step="any" class="form-control item" id="precio" th:field="*{precioFicha}" placeholder="Precio ficha" required/>
                        <div class="error text-start" th:if="${#fields.hasErrors('nombre')}"
                             th:errors="*{precioFicha}"></div>
                    </div>

                    <div class="mb-3 col-xl-12">
                        <input class="form-control item mt-2" type="file" name="foto" accept="image/*">
                    </div>

                    <div class="row">
                        <div class="col-xl-3">
                            <button class="btn btn-success" th:text="${action == 'guardar'} ? 'Crear' : 'Guardar'" type="submit"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>  

</html>
