<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
              rel="stylesheet">
        <link rel="stylesheet" href="assets/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/css/style2.css}"/>
    </head>

    <body> 
        <nav th:replace="fragments/navbar :: navbar"></nav>
        
        <div class="body-imagen">
            <div class="registration-form">
                <form>
                    <div class="form-group">
                        <h1>Ingrese Juego</h1>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control item" id="username" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control item" id="Number" placeholder="Precio">
                    </div>

                    <div class="mb-3 col-xl-12">
                        <label for="foto">Cargar foto</label>
                        <input class="form-control mt-2" type="file" name="foto" accept="image/*">
                    </div>

                    <div class="form-group">
                        <button type="button" class="btn btn-block create-account">Subir Juego</button>
                    </div>
                </form>
            </div>
        </div>
        
        <footer th:replace="fragments/footer :: footer"></footer>
        <script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
    </body>  

</html>






















































<!-- comment  <title th:text="|${title} - Egg|"></title>   
    <title>Videojuegos </title>
    
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar"></nav>

    <div class="container mt-5 main">
        <h1 th:text="${title}"></h1>
        <hr class="mb-4 col-xl-12"/>
        <div class="alert alert-danger col-xl-6" th:if="${error}" th:text="${error}"></div>

        <form class="mb-4" th:action="@{/videojuego/__${action}__}" th:object="${videojuego}" method="POST"
              enctype="multipart/form-data" autocomplete="off">

            <input th:field="*{id}" type="hidden"/>

            <div class="form-floating mb-3 col-xl-6">
                <input class="form-control" id="nombre" placeholder="Nombre" th:field="*{nombre}" type="text"/>
                <label for="nombre">Nombre</label>
                <div class="error text-start" th:if="${#fields.hasErrors('nombre')}"
                     th:errors="*{nombre}"></div>
            </div>

            <div class="form-floating mb-3 col-xl-6">
                <input class="form-control" id="apellido" placeholder="Precio" th:field="*{precio}" type=text""/>
                <label for="precio">Precio</label>
                <div class="error text-start" th:if="${#fields.hasErrors('precio')}"
                     th:errors="*{precio}"></div>
            </div>
            
            <div class="form-floating mb-3 col-xl-6">
                <input class="form-control" id="apellido" placeholder="Alta" th:field="*{alta}" type="datetime"/> 
                <label for="alta">Alta</label>
                <div class="error text-start" th:if="${#fields.hasErrors('alta')}"
                     th:errors="*{alta}"></div>
            </div>

            <div class="mb-3 col-xl-6">
                <label for="foto">Cargar foto</label>
                <input class="form-control mt-2" type="file" name="foto" accept="image/*">
            </div>

            <div class="row">
                <div class="col-xl-3">
                    <button class="btn btn-success" th:text="${action == 'guardar'} ? 'Crear videojuego' : 'Guardar cambios'"
                            type="submit"></button>
                </div>
            </div>
        </form>
    </div>
-->
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/assets/bootstrap.bundle.min.js}"></script>
</body>

</html>